click==7.1.2
decorator==5.0.7
Flask==1.1.2
Flask-Cors==3.0.10
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==3.11.1
request-validator==2.0.5
six==1.16.0
SQLAlchemy==1.4.3
validators==0.18.2
webargs==8.0.0
Werkzeug==1.0.1
python-dotenv==0.17.1